.title
  background-size: cover
  overflow: hidden
#scene
  z-index: 3
  position: relative
  bottom: -20px
  li
    z-index: 3
  li.bg
    width: 100%
    z-index: 1
    img
      width: 100%
.container
  +outer-container
  .half
    +span-columns(6)
    +omega(2n)

.game-news
  background: #D9D3CD
  padding: $gutter
  text-align: center

.store
  background: #3A7665
  padding: $gutter * 2
.game-info
  padding: $gutter * 2
  p:last-child
    margin-bottom: 0
  .game-info-text
    background: #D9D3CD
    padding: $gutter
    img
      float: right
      margin: 0 0 $base-line-height $base-line-height
  .updates
    padding: $gutter
    ul
      @extend %wy-plain-list-disc
      margin-bottom: 0
  hr
    border-color: rgba(0,0,0,.1)
  .excerpt
    line-height: 1.5
    font-family: $custom-font-family
    position: relative
    display: block
    font-style: italic
    padding: $base-line-height / 2 $gutter $base-line-height / 2 $base-line-height
    color: darken(#D9D3CD, 30%)
    border-top: solid 1px rgba(0,0,0,.1)
    &:before
      content: '"'
      position: absolute
      color: $text-color
      font-size: 200%
      top: 0px
      left: 0px
  .game-info-reviews
    padding: $gutter
  .score
    font-weight: bold
    display: block
    color: $text-color
    padding-left: $base-line-height
    margin-left: $base-line-height
    margin-bottom: $base-line-height / 2
  img
    display: inline-block
.media
  padding: $gutter * 2 $gutter * 2 $gutter $gutter * 2
  background: url(http://subtlepatterns.com/patterns/dark_geometric.png)
  p
    color: $text-light
  ul
    +outer-container
  li
    +span-columns(3)
    +omega(4n)
    margin-bottom: $gutter
    border: solid 1px transparent
    box-shadow: 0 0 5px rgba(0,0,0,.8)
  li:hover
    box-shadow: 0 0 5px rgba(0,0,0,.8)
    border-color: $orange
  li .media-video
    width: 100%
    padding-top: 56.25%
    background-size: 100%
    background-position: center
    display: block
    position: relative
    color: rgba(255,255,255,.8)
    &:before
      font-size: 50px
      position: absolute
      margin: auto
      display: inline-block
      left: 50%
      top: 50%
      margin-top: -25px
      margin-left: -25px
    .media-video-name
      position: absolute
      left: 0
      bottom: 10px
      width: 100%
      text-align: center
      font-size: 80%
      background: rgba(0,0,0,.8)
      padding: $base-line-height / 4

  img
    width: 100%


nav
  background: $background-color
  z-index: 2
  position: absolute
  top: 0
  left: 0
  right: 0
  height: 120px
  .container
    position: relative
  ul
    display: inline-block
    float: right
    background: rgba(0,0,0,.1)
    padding: 0 $base-line-height / 2
    height: 60px
    z-index: 20
  ul li
    display: inline-block
  ul li a
    display: inline-block
    padding: 0 $base-line-height / 2
    line-height: 60px
    color: $gray
    text-transform: uppercase
    font-size: 80%
    &.fa
      padding: $base-line-height / 2 $base-line-height / 4
      color: #CA0000 !important
    &.active
      color: #CA0000
      font-weight: bold
    &:visited
      color: $gray
    &:hover
      color: #CA0000
  .logo
    display: inline-block
    position: absolute
    padding: $base-line-height / 2
    img
      display: inline-block
      z-index: 6
.game-bg
  width: 100%
  height: 500px
  background-size: cover
  background-image: url(/static/images/transistor/bg-cover.jpg)
  background-position: center center
.content
  background: $white
  position: relative
  top: -50px

.btn-amazon
  background-color: #EAB431 !important
  color: $text-color !important
  &:hover
    background-color: darken(#EAB431, 5%) !important
    color: $text-color
  &:visited
    color: $text-color !important

.btn-ps
  background-color: #184668 !important
  color: $white !important
  &:hover
    background-color: darken(#184668, 5%) !important
    color: $white
  &:visited
    color: $white !important
