{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append team to the site title defined in base.html #}
{% block title %}{% parent %} - team{% endblock %}

{% block content %}

  {% set team = cms.team|sort('publish_date', true) %}

  <div class="page-title">
    <div class="container">
      <h1>The Supergiant Team</h1>
    </div>
  </div>

  <div class="container">
    <ul class="team-list">
      {% for member in team|where('hide_from_team_page', 'No') %}
        <li>
          <div class="head">
            <img src="{{ member.image|imageCrop(100) }}">
            <h3>{{ member.name }}</h3>
            <p>{{ member.role }}</p>
            <a href="http://www.twitter.com/{{ member.twitter }}">@{{ member.twitter }}</a>
          </div>
          <div class="about">
            {{ member.about|safe }}
          </div>

          <strong>Favorite games</strong>
          {{ member.favorite_games|safe }}

        </li>
      {% endfor %}
    </ul>
  </div>

  {# The actual pagination template, feel free to edit or replace the default one. #}
  {% include "templates/partials/paginator.html" %}

{% endblock %}
