{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH blog #}
{# This page can use any data from http:localhost:2000/cms/#/form/blog/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this blog's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}

{% block body_class %}blog-individual blog-individual-video{% endblock %}

{% block content %}
  <div class="page-title">
    <div class="gradient">
      <div class="container">
        {% set prev = prevItem(item, 'publish_date', true) %}
        {% set next = nextItem(item, 'publish_date', true) %}
        {% set authors = getItems(item.authors)%}

        {% if prev %}
          <a href="{{ url(prev) }}" class="prev fa fa-chevron-left"></a>
        {% endif %}
        {% if next %}
          <a href="{{ url(next) }}" class="next fa fa-chevron-right"></a>
        {% endif %}

        <img src="{{ authors[0].image|imageCrop(75) }}">

        <p><a href="/blog/">Blog</a> &raquo;</p>
        <h1>{{ item.name }}</h1>
        <p>
          By
          {% for author in authors %}
            <span class="author">{{ author.name }}</span>{% if not loop.last %},{% endif %}
          {% endfor %}
          {{ item.publish_date|date('F d Y') }}
        </p>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <aside>
        <ul class="social-list">
          <li><a href="" class="fa fa-twitter"> Twitter</a></li>
          <li><a href="" class="fa fa-facebook"> Facebook</a></li>
          <li><a href="" class="fa fa-envelope"> Email</a></li>
          <li><a href="" class="fa fa-reddit"> Reddit</a></li>
        </ul>
        <div class="mailing-list">
          <div class="wy-control-group">
            <label>Join our mailing list</label>
            <div class="wy-control">
              <input type="email" placeholder="your@email.com">
            </div>
          </div>
        </div>
      </aside>
      <article class="video">
        {% set videos = getItems(item.video) %}


        {% for video in videos %}
        <div class="video-wrap">
          <figure data-type="video">
            {{ video.video.html|safe }}
          </figure>
        </div>
        {% endfor %}

        <hr>

        {{ item.body|safe }}

      </article>
    </div>
  </div>
{% endblock %}

