<footer>
  <div class="container">
    <a href="/" class="logo"><img src="/static/images/logo.png"/></a>
    <ul>
      {% for game in games %}
        {% set game_url = url(game) %}
        <li><a href="{{ url(game) }}" {% if current_url == game_url %} class="active"{% endif %}>{{ game.name }}</a></li>
      {% endfor %}
      <li><a href="/blog/" {% if current_url|startsWith('/blog/') %} class="active"{% endif %}>Blog</a></li>
      <li><a href="/team/" {% if current_url|startsWith('/team/') %} class="active"{% endif %}>Team</a></li>
      <li><a href="/contact/" {% if current_url|startsWith('/contact/') %} class="active"{% endif %}>Contact</a></li>
      <li><a href="https://store.supergiantgames.com">Store</a></li>
      <li><a href="http://www.twitter.com/{{ social.twitter }}" class="fa fa-twitter first"></a></li>
      <li><a href="http://www.facebook.com/{{ social.facebook }}" class="fa fa-facebook"></a></li>
      <li><a href="http://www.youtube.com/user/{{ social.youtube }}" class="fa fa-youtube-play last"></a></li>
    </ul>
  </div>
  <div class="newsletter">
    <div class="container">
      <span class="text fa fa-envelope"> Sign up for the Supergiant newsletter: </span>
      <form method="post" action="https://ymlp.com/subscribe.php?id=gmqyyuhgmgh" class="float-right">
        <input name ="YMP0" type="text" placeholder="your@email.com">
        <input type="submit" class="btn btn-small btn-invert" value="Submit">
      </form>
    </div>
  </div>
</footer>
