{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH blog #}
{# This page can use any data from http:localhost:2000/cms/#/form/blog/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this blog's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}

{% block body_class %}blog-individual{% endblock %}

{% block content %}
  <div class="page-title">
    <div class="gradient">
      <div class="container">
        {% set prev = prevItem(item, 'publish_date', true) %}
        {% set next = nextItem(item, 'publish_date', true) %}
        {% set authors = getItems(item.authors)%}

        {% if prev %}
          <a href="{{ url(prev) }}" class="prev fa fa-chevron-left"></a>
        {% endif %}
        {% if next %}
          <a href="{{ url(next) }}" class="next fa fa-chevron-right"></a>
        {% endif %}

        <img src="{{ authors[0].image|imageCrop(75) }}">

        <p><a href="/blog/">Blog</a> &raquo;</p>
        <h1>{{ item.name }}</h1>
        <p>
          By
          {% for author in authors %}
            <span class="author">{{ author.name }}</span>{% if not loop.last %},{% endif %}
          {% endfor %}
          {{ item.publish_date|date('F d Y') }}
        </p>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <aside>
        <ul class="social-list">
          {# <li><a href=”http://twitter.com/home/?status=http://www.supergiantgames.com{{ url(item) }}”  target=”_blank” class="fa fa-twitter"> Twitter</a></li> #}
          <li><a href="http://www.twitter.com/home/?status=http://www.supergiantgames.com{{ url(item) }}" class="fa fa-twitter"> Twitter</a></li>
          <li><a href="http://www.facebook.com/share.php?u= RT @{{ cms.social_media.twitter }} http://www.supergiantgames.com{{ url(item) }}" class="fa fa-facebook"> Facebook</a></li>
          <li><a href="mailto:?subject={{ item.name }}&body=http://www.supergiantgames.com{{url(item)}}" class="fa fa-envelope"> Email</a></li>
          <li><a href="http://www.reddit.com/submit?url=http://www.supergiantgames.com{{url(item)}}&title={{item.name}}" class="fa fa-reddit"> Reddit</a></li>
        </ul>
        <div class="mailing-list">
          <div class="wy-control-group">
            <label>Join our mailing list</label>
            <div class="wy-control">
              <form method="post" action="http://ymlp.com/subscribe.php?id=gmqyyuhgmgh">
              <input name ="YMP0" type="text" placeholder="your@email.com">
              </form>
            </div>
          </div>
        </div>
      </aside>
      <article>
        {{ item.body|safe }}
        {# Relations require some special code. More info about relations here: #}
        {# http://www.webhook.com/docs/template-rules-and-filters/#getitem #}
        {% for relation in getItems(item.video) %}
          {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
          <a href="{{ url(relation) }}">{{ relation.name }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
        {# Relations require some special code. More info about relations here: #}
        {# http://www.webhook.com/docs/template-rules-and-filters/#getitem #}
        {% for relation in getItems(item.gallery) %}
          {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
          <a href="{{ url(relation) }}">{{ relation.name }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
        {# Relations require some special code. More info about relations here: #}
        {# http://www.webhook.com/docs/template-rules-and-filters/#getitem #}
      </article>
      <section>
        {% set games = getItems(item.games ) %}

        {% for game in games|slice(0,1) %}
          {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
          <a href="{{ url(game) }}">
            <img src="{{ game.box_art|imageSize(400) }}">
          </a>
          <a href="{{ game.steam.url }}" class="btn btn-invert fa fa-steam-square"> Steam</a>
          <a href="{{ game.amazon.url }}" class="btn btn-amazon fa fa-shopping-cart"> Amazon</a>
          <a href="{{ game.ps_store.url }}" class="btn btn-ps fa fa-shopping-cart"> Playstation</a>

          <hr>
          {% set products = getItems(game.store ) %}

          {% for product in products|slice(0,1) %}
            <a href="{{ product.shopify.url }}" class="store-promo">
              <span>In our store</span>
              <img src="{{ product.shopify.thumbnail_url }}">
              {{ product.name }}
            </a>
          {% endfor %}
        {% endfor %}

      </section>
    </div>
  </div>
{% endblock %}
