{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - blog{% endblock %}


{% block content %}
  {% set data = cms.blog|sort('publish_date', true) %}

  {% set data = paginate(data, 10) %}

    <section class="blog-list">

    {% for object in data %}
      <div class="page-title">
        <div class="gradient">
          <div class="container">


            <img src="{{ object.authors[0].image|imageCrop(75) }}">
            <p>
            {% for game in object.games %}
              <a href="">{{ game.name }}</a>
            {% endfor %}
            </p>
            <h1>{{ object.name }}</h1>
            <p>
              By
              {% for author in object.authors %}
                <span class="author">{{ author.name }}</span>{% if not loop.last %},{% endif %}
              {% endfor %}
              {{ object.publish_date|date('F d Y') }}
            </p>
          </div>
        </div>
      </div>
      <div class="container article">
        <article>{{ object.body|safe }}</article>
      </div>
    {% endfor %}

    {% include "templates/partials/paginator.html" %}
    </section>

{% endblock %}
