{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - blog{% endblock %}


{% block content %}
  {% set data = cms.blog|sort('publish_date', true) %}

  {% set data = paginate(data, 5) %}

    <section class="blog-list">

    {% for object in data %}
      <div class="page-title">
        <div class="container">
            <p>
              {{ object.publish_date|date('F d Y') }}
            </p>
            <a href="{{ url(object) }}"><h1>{{ object.name }}</h1></a>
        </div>
      </div>
      <div class="container article">
        <aside>
          <div class="image"><img src="{{ object.authors[0].image|imageCrop(100) }}"></div>
          <a href="http://www.twitter.com/{{ object.authors[0].twitter }}">
              {% for author in object.authors %}
                <p class="author">{{ author.name }}</p>
                <p class="twitter">@{{ author.twitter }}</p>
              {% endfor %}
            </a>
        </aside>
        <article>{{ object.body|safe }}</article>
      </div>
    {% endfor %}

    {% include "templates/partials/paginator.html" %}
    </section>

{% endblock %}
