{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - blog{% endblock %}

{% block body_class %}blog-list{% endblock %}

{% block content %}
  {% set data = cms.blog|sort('publish_date', true) %}

  {% set data = paginate(data, 10) %}

  <div class="page-title">
    <div class="container">
      <h1>The Supergiant Blog</h1>
    </div>
  </div>
  <div class="container">

    <section>
    <ul class="blog-list">
      {% for object in data %}
        <li>
          <a href="{{ url(object) }}">
            <div class="image" style="background-image:url({{ object.image|imageSize(200) }})"></div>
            <div class="blog-list-body">
              <p class="date">{{ object.publish_date|date('M d Y') }}</p>
              <h3>{{ object.name }}</h3>
              <p>{{ object.body|striptags|truncate(200) }}</p>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>

    {% include "templates/partials/paginator.html" %}
    </section>
    <aside>
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/SupergiantGames" data-widget-id="501508371317399552" data-chrome="nofooter">Tweets by @SupergiantGames</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </aside>
  </div>

{% endblock %}
