{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH games #}
{# This page can use any data from http:localhost:2000/cms/#/form/games/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this games's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}


  <div class="title">
    {% include "templates/partials/header.html" %}

    <ul id="scene">
      <li class="layer" data-depth="0.40"><img src="/static/images/{{ item.name|lower }}/title_02.png"></li>
      <li class="layer" data-depth="1"><img src="/static/images/{{ item.name|lower }}/title_03.png"></li>
      <li class="layer" data-depth="0.20"><img src="/static/images/{{ item.name|lower }}/title_04.png"></li>
    </ul>
  </div>

  <div class="game-info">
    <div class="container">
      <div class="half game-info-text">
        <img src="{{ item.box_art|imageSize(200) }}">
        {{ item.about|safe }}
        <p>Available now on
        {% for platform in item.platforms %}
          {% if platform.value %}
            {{ platform.label }}
          {% endif %}
        {% endfor%}
        </p>
        <a href="{{ item.steam }}" class="btn btn-invert fa fa-steam-square"> Buy it on Steam</a>
        <a href="{{ item.amazon }}" class="btn btn-amazon fa fa-shopping-cart"> Buy it on Amazon</a>
      </div>
      {% set reviews = getItems(item.reviews) %}
      <div class="half game-info-reviews">
        <h2>From the press</h2>
        {% for review in reviews %}
          <span class="excerpt">{{ review.excerpt }}</span>
          <a href="{{ review.url }}" class="score" style="background: url({{ review.publication_logo.url }}) no-repeat center left">
            {{ review.publication }} - {{ review.score }} {{ review.rating_style }}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="media">
    {% set gallery = getItem(item.gallery) %}
    {% set videos = getItems(item.video) %}
    <ul>
      {% for video in videos %}
        <li>
        <a href="{{ video.video.url }}" class="media-video fa fa-youtube-play" style="background-image: url({{ video.video.thumbnail_url|imageSize(300) }})"> <span class="media-video-name">{{ video.name }}</span></a>
        </li>
      {% endfor %}
      {% for image in gallery.gallery %}
        <li><a href="{{ image.url }}"><img src="{{ image|imageSize(300) }}"></a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="store">
    <div class="container">
      <div class="store-album">
        {{ item.soundtrack.html|safe }}
      </div>
      <div class="store-text">
      </div>
    </div>
  </div>
  <div class="updates">
    <h2>Latest updates</h2>
    {% set blog = getItems(item.blog) %}
    {% set blog = blog|sort('publish_date', true)%}
    <ul>
      {% for post in blog %}
        <li><a href="{{ url(post) }}">{{ post.name }}</a></li>
      {% endfor %}
    </ul>
  </div>






  <p><a href="/games/">View a list of all games</a></p>
  <h1>{{ item.name }}</h1>
  <ul>
      <li>
        <strong>Name: </strong>
        {{ item.name }}
      </li>
      <li>
        <strong>Create Date: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ item.create_date|date('F d Y') }}
      </li>
      <li>
        <strong>Last Updated: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ item.last_updated|date('F d Y') }}
      </li>
      <li>
        <strong>Publish Date: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ item.publish_date|date('F d Y') }}
      </li>
      <li>
        <strong>Box art: </strong>
        {# You can pull out a lot more information from the image property. Info here: #}
        {# http://www.webhook.com/docs/widget-template-reference/#image #}
        <img src="{{ item.box_art|imageSize(200) }}" />
      </li>
      <li>
        <strong>Logo: </strong>
        {# You can pull out a lot more information from the image property. Info here: #}
        {# http://www.webhook.com/docs/widget-template-reference/#image #}
        <img src="{{ item.logo|imageSize(200) }}" />
      </li>
      <li>
        <strong>About: </strong>
        {{ item.about|safe }}
      </li>
      <li>
        <strong>Steam: </strong>
        {{ item.steam }}
      </li>
      <li>
        <strong>Amazon: </strong>
        {{ item.amazon }}
      </li>
      <li>
        <strong>Preview URL: </strong>
        {{ item.preview_url }}
      </li>
      <li>
        <strong>Platforms: </strong>
        {# List the checkboxes available. Output their values. #}
        <ul>
          {% for option in item.platforms %}
            {# Output the values for every option. Alternatively, wrap this in an if statement to only show True values. #}
            <li>
              {{ option.label }}: {{ option.value }}
            </li>
          {% endfor%}
        </ul>
      </li>
      <li>
        <strong>Original release date: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ item.original_release_date|date('F d Y') }}
      </li>
      <li>
        <strong>Gallery: </strong>
        {# Relations require some special code. More info about relations here: #}
        {# http://www.webhook.com/docs/template-rules-and-filters/#getitem #}
        {% set relation = getItem(item.gallery) %}
        {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
        <a href="{{ url(relation) }}">{{ relation.name }}</a>
      </li>
  </ul>
{% endblock %}
