{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH games #}
{# This page can use any data from http:localhost:2000/cms/#/form/games/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this games's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}

{% block body_class %}body-title{% endblock %}

{% block content %}

  {# PARALLAX SCENE #}
  {# PARALLAX SCENE #}
  {# PARALLAX SCENE #}
  {# PARALLAX SCENE #}
  {# PARALLAX SCENE #}


  <div class="parallax" style="background-image: url({{ item.title_background.url }})">
    <div class="header-bg"></div>

    <ul id="scene">
      {% for image in item.title_image %}
        <li class="layer" data-depth="{{ image.caption }}"><img src="{{ image.url }}"></li>
      {% endfor %}
    </ul>
  </div>


  {# SINGLE RELATED BLOG ITEM #}
  {# SINGLE RELATED BLOG ITEM #}
  {# SINGLE RELATED BLOG ITEM #}
  {# SINGLE RELATED BLOG ITEM #}
  {# SINGLE RELATED BLOG ITEM #}

  <div class="game-news">
    <div class="container">
      {% set blog = cms.blog|sort('publish_date', true)%}
      {% if blog[0]%}
        <strong><span class="fa fa-star"></span> From the Supergiant blog:</strong> <a href="{{ url(blog[0]) }}">{{ blog[0].name }}</a>
      {% endif %}
    </div>
  </div>


  {# GAME INFO AND PRESS #}
  {# GAME INFO AND PRESS #}
  {# GAME INFO AND PRESS #}
  {# GAME INFO AND PRESS #}
  {# GAME INFO AND PRESS #}

  <div class="game-info">
    <div class="container">
      <div class="half game-info-text">
        <img src="{{ item.box_art|imageSize(300) }}">
        {{ item.about|safe }}
        <p>Available now on
        {% for platform in item.platforms %}
          {% if platform.value %}
            {{ platform.label }}
          {% endif %}
        {% endfor%}
        </p>
        {% if item.steam %}
          <a href="{{ item.steam }}" class="btn btn-invert fa fa-steam-square"> Steam</a>
        {% endif %}
        {% if item.amazon %}
        <a href="{{ item.amazon }}" class="btn btn-amazon fa fa-shopping-cart"> Amazon</a>
        {% endif %}
        {% if item.ps_store %}
          <a href="{{ item.ps_store }}" class="btn btn-ps fa fa-shopping-cart"> Playstation</a>
        {% endif %}
        {% if item.ms_store %}
          <a href="{{ item.ms_store }}" class="btn btn-ms fa fa-shopping-cart"> Xbox</a>
        {% endif %}
      </div>
      <div class="half game-info-reviews">
        {% if item.reviews %}
          <h2>What people are saying</h2>
          <div class="slide-reviews">
          {% for review in item.reviews %}
            <div>
              <span class="excerpt">{{ review.excerpt }}</span>
              <a href="{{ review.url }}" class="score" style="background: url({{ review.publication_logo.url }}) no-repeat center left">
                {{ review.publication }} - {{ review.score }} {{ review.rating_style }}
              </a>
            </div>
          {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  {# RELATED SCREENS AND VIDEO #}
  {# RELATED SCREENS AND VIDEO #}
  {# RELATED SCREENS AND VIDEO #}
  {# RELATED SCREENS AND VIDEO #}
  {# RELATED SCREENS AND VIDEO #}

  <div class="media">

    <p class="wy-text-center">
      Want a quick to-go bag of {{ item.name }} media, wallpapers, and logos? <a href="{{ item.press_kit.url }}">Download this handy zip file.</a>
    </p>

    <ul>
      {% for video in item.video %}
        <li>
        <a href="{{ video.video.url }}" class="media-video fa fa-youtube-play" style="background-image: url({{ video.video.thumbnail_url|imageSize(300) }})"> <span class="media-video-name">{{ video.name }}</span></a>
        </li>
      {% endfor %}
      {% for image in item.gallery.gallery %}
        <li><a href="{{ image.url }}"><img src="{{ image|imageSize(300) }}"></a></li>
      {% endfor %}
    </ul>
  </div>

  {# RELATED STORE ITEMS #}
  {# RELATED STORE ITEMS #}
  {# RELATED STORE ITEMS #}
  {# RELATED STORE ITEMS #}
  {# RELATED STORE ITEMS #}


  <div class="store" style="background-color: {{ item.primary_color }}">
    <div class="store-line"></div>
    <div class="container">
      <div class="store-album">
        {{ item.soundtrack.html|safe }}
      </div>
      <div class="store-items">
        <h2>Grab some gear</h2>
        <p>Purchase the {{ item.name }} soundtrack and other items from our store.</p>

        <hr>

        <ul>
        {% for product in item.store %}
          <li>
            <a href="{{ product.shopify.url }}">
              <img src="{{ product.shopify.thumbnail_url }}">
              {{ product.name  }}
            </a>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
