{# ------------------------------------------------------- #}

{# 404 PAGE #}

{# This is the 404 page that will display on the live site for users. #}
{# It does not appear when you run your site locally. #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{% block content %}

  <div class="four-o-four">
    <img src="/static/images/failbag.png">
    <h1>404 - Nothing to see here</h1>
    <p>The Scumbags running our web site failed to locate the page you requested.</p>

    <p><a href="/">Take me home!</a></p>
  </div>

{% endblock %}
