{# ------------------------------------------------------- #}

{# YOUR HOMEPAGE #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %} - Homepage{% endblock %}

{% block body_class %}contact{% endblock %}

{% block content %}

  {% set item = get('contact') %}

  <div class="page-title">
    <div class="container">
      <h1>Contact us</h1>
    </div>
  </div>

  <div class="container">
    <div class="half">
      {{ item.instructions|safe }}
    </div>
    <div class="half">
      <div class="wy-alert wy-alert-success groove-alert" style="display:none">
        <div class="wy-alert-title">Message sent</div>
        <p>Thank you for contacting us. We'll get back to you shortly.</p>
      </div>
      <form class="wy-form groove">
        <div class="wy-control-group fluid-input groove-enduser_name">
          <label>Name *</label>
          <div class="wy-control">
            <input type="text" name="name">
          </div>
        </div>
        <div class="wy-control-group fluid-input groove-enduser_email">
          <label>Email *</label>
          <div class="wy-control">
            <input type="email" name="email">
          </div>
        </div>
        <div class="wy-control-group fluid-input groove-title">
          <label>Subject *</label>
          <div class="wy-control">
            <input type="text" name="subject">
          </div>
        </div>
        <div class="wy-control-group groove-comments">
          <label>Message *</label>
          <div class="wy-control">
            <textarea style="min-height: 200px" name="message"></textarea>
          </div>
        </div>
        <input type="submit" class="btn btn-neutral" value="Send">
      </form>
    </div>
  </div>
{% endblock %}

{% block js_extra %}<script src="/static/javascript/groove.js"></script>{% endblock %}
