{# ------------------------------------------------------- #}

{# YOUR HOMEPAGE #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %} - Homepage{% endblock %}

{% block body_class %}{{ item.name|lower }}{% endblock %}

{% block content %}

<div class="home-title">
  <div class="container">
    <h1>{{ cms.studio.tagline_title }}</h1>
    <p class="tagline">{{ cms.studio.tagline_body }}</p>
    <hr>
    <ul class="home-blog">
    {% for blog in cms.blog|sort('publish_date', true)|slice(0,3) %}
      <li>
        <a href="{{ url(blog) }}">
          <div class="image" style="background:url({{ blog.image|imageSize(500) }});background-size: cover;"></div>
          <p class="title">{{ blog.name }}</p>
          <p class="body">{{ blog.body|striptags|truncate(200) }}</p>
        </a>
      </li>
    {% endfor %}
    </ul>$black
    <hr>
    <div class="home-newsletter">
      <img src="/static/images/transistor/shielder.png" class="float-right">
      <label>Keep up to date and join our mailing list.</label>
      <input type="text" placeholder="your@email.com">
      <a href="" class="btn btn-small btn-neutral fa fa-envelope"> Notify me</a>
    </div>
  </div>
</div>

<ul class="home-games">
  {% for game in cms.games %}
  <li class="{{ game.name|lower }}" style="background-image:url({{ game.home_art.url }});">
    <div class="container">
      <a href="{{ url(game) }}">
      <img src="{{ game.box_art|imageSize(390) }}">
      </a>
      <a href="{{ url(game) }}" class="text">
      <h2>{{ game.name }}</h2>
      {{ game.about|safe }}
      </a>
      <hr style="border-color: {{ game.primary_color }}">
      <p>
        Buy it now for
        {% for platform in game.platforms %}
          {% if platform.value %}
            {{ platform.label }}
          {% endif %}
        {% endfor%}
      </p>
      {% if game.steam %}
        <a href="{{ game.steam }}" class="btn btn-invert fa fa-steam-square"> Steam</a>
      {% endif %}
      {% if game.amazon %}
      <a href="{{ game.amazon }}" class="btn btn-amazon fa fa-shopping-cart"> Amazon</a>
      {% endif %}
      {% if game.ps_store %}
        <a href="{{ game.ps_store }}" class="btn btn-ps fa fa-shopping-cart"> Playstation</a>
      {% endif %}
      {% if game.ms_store %}
        <a href="{{ game.ms_store }}" class="btn btn-ms fa fa-shopping-cart"> Xbox</a>
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>

<div class="home-store">
  <div class="container">
    <h2>Grab some gear</h2>
    <p><a href="http://store.supergiantgames.com">International shipping available. Check out our store.</a></p>
    <hr>
    <div class="home-store-items">
      {% for product in cms.store|sort('publish_date', true) %}
        <div>
          <a href="{{ product.shopify.url }}">
            <img src="{{ product.shopify.thumbnail_url }}">
            {{ product.name  }}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
