{# ------------------------------------------------------- #}

{# YOUR HOMEPAGE #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %} - Homepage{% endblock %}

{% block body_class %}{{ item.name|lower }}{% endblock %}

{% block content %}

<div class="home-title">
  <div class="container">
    <h1>{{ cms.studio.tagline_title }}</h1>
    <p class="tagline">{{ cms.studio.tagline_body }}</p>
    <hr>
    <ul class="home-blog">
    {% for blog in cms.blog|sort('publish_date', true)|slice(0,3) %}
      <li>
        <a href="{{ url(blog) }}">
          <div class="image" style="background:url({{ blog.image|imageSize(500) }});background-size: cover;"></div>
          <p class="title">{{ blog.name }}</p>
          <p class="body">{{ blog.body|striptags|truncate(200) }}</p>
        </a>
      </li>
    {% endfor %}
    </ul>
    <h2 class="wy-text-center">Our games <span class="fa fa-arrow-circle-down"></span></h2>
  </div>
</div>


<ul class="home-games">
  {% for game in cms.games|sort('original_release_date', true) %}
  <li class="{{ game.name|lower }}" style="background-image:url({{ game.home_art.url }});">
    <div class="container">
      <a href="{{ url(game) }}" class="box">
        <img src="{{ game.box_art|imageSize(390) }}" class="poster">
      </a>
      <a href="{{ url(game) }}" class="text">
        <h2>{{ game.name }}</h2>
        <p>{{ game.about|safe }}</p>
      </a>
      <hr style="border-color: {{ game.primary_color }}">
      {% if game.original_release_date %}
        <h3>Available on</h3>
        {% if game.steam %}
          <a href="{{ game.steam }}" class="store-btn"><img src="/static/images/btn_steam.png"/></a>
        {% endif %}
        {% if game.mac_app_store %}
          <a href="{{ game.mac_app_store }}" class="store-btn"><img src="/static/images/btn_mac.png"/></a>
        {% endif %}
        {% if game.ios_store %}
          <a href="{{ game.ios_store }}" class="store-btn"><img src="/static/images/btn_app.png"/></a>
        {% endif %}
        {% if game.amazon %}
        <a href="{{ game.amazon }}" class="store-btn"> <img src="/static/images/btn_.png"/></a>
        {% endif %}
        {% if game.ps_store %}
          <a href="{{ game.ps_store }}" class="store-btn"><img src="/static/images/btn_ps.png"/></a>
        {% endif %}
        {% if game.ms_store %}
          <a href="{{ game.ms_store }}" class="store-btn"><img src="/static/images/btn_xbox2.png"/></a>
        {% endif %}
      {% else %}
        <h3>Coming soon</h3>
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>

<div class="home-store">
  <div class="container">
    <h2>Shop at Our Online Store</h2>
    <p>International shipping available. We fulfill all online orders straight from our San Francisco studio.</p>
    <div class="home-store-items">
      <img src="/static/images/transistor/cartoon_red.png" class="red">
      <img src="/static/images/bastion/cartoon_kid.png" class="kid">
      {% for product in cms.store|sort('sort') %}
        <div>
          <a href="{{ product.shopify.url }}">
            <img src="{{ product.shopify.thumbnail_url }}">
            <span>{{ product.name  }}</span>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}


